#titleSection {
    width: 100%;
    display: flex;
    justify-content: center;
}

#author {
    position: relative;
    top: 50px;
}

#container {
    background-color: #bbb;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

#totalCountContainer {
    display: block;
    background-color: #333;
    border-radius: 10px;
    padding: 0px 20px;
    width: 200px;
    margin: 10px 0px 20px 0px;
}

#inputContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #aaa;
    padding: 10px 10px;
}

#buttonContainer {
    display: block;
    margin-bottom: 80px;
}

#total {
    float: left;
    color: white;
}

#totalCount {
    float: right;
    color: white;
}

#addDice {
    float: left;
    margin-right: 50px;
    background-color: rgb(93, 165, 93);
}

#removeDice {
    background-color: rgb(185, 100, 100);
}

#roll {
    position: relative;
    bottom: 0px;
    width: 200px;
    background-color: rgb(218, 183, 119);
}

